<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>VM0Chat</string>
	<key>CFBundleIdentifier</key>
	<string>ai.vm0.chatpoc</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>VM0Chat</string>
	<key>CFBundleDisplayName</key>
	<string>VM0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>26.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<!-- Noto Sans / JetBrains Mono 打进 bundle 后,取消下面注释让 Font.vm.* 生效:
	<key>UIAppFonts</key>
	<array>
		<string>NotoSans-Regular.ttf</string>
		<string>NotoSans-Medium.ttf</string>
		<string>NotoSans-SemiBold.ttf</string>
		<string>NotoSans-Bold.ttf</string>
		<string>JetBrainsMono-Regular.ttf</string>
	</array>
	-->
</dict>
</plist>
